
@model BTCTestnetCoins.Models.PayoutAddress;
@{
	ViewData["Title"] = "";
}

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"></partial>
	}
}

@if(TempData["Success"] != null)
{
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script type="text/javascript">
		toastr.success("0.002 BTC sent. Awaiting Network Confimation!")
	</script>
} 


<div class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="bg-body-secondary text-center py-5 rounded-2">
				<h1 class="display-6.fw-bold">BTCTestnetCoins</h1>
			</div>
			<div class="p-2">
				<form method="post" asp-controller="Home" asp-action="SendBitcoin">
					<div class="pb-1 mb-3">
						
						<label asp-for="DestinationAddress" class="text-center pb-1">Enter Testnet BTC Address</label>
						<input asp-for="DestinationAddress" class="form-control form-control-lg" />
						<span asp-validation-for="DestinationAddress" class="text-danger"></span>
					</div>
					<div class="">
						<button class="btn btn-success w-25" id="clickedButton" type="submit">Get Testnet Coins</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>










