/* Styling of navigation bar */
#navdiv {
    display: flex;
    width: 17%;
    margin-left: 85%;
    justify-content: space-around;
    margin-top: 1%;
    height: 35px;
}

nav img {
    margin-top: 5px;
}

#bitcoinlogo {
    margin-top: 100px;
}
/* Removing underline from links*/
a {
    margin-top: 8px;
    text-decoration: none;
}

.nav-styling button {
    padding: 10px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    border-radius: 7px;
}
/* setting up size and border stle of search bar*/
#maindiv {
    width: 40%;
    border-radius: 50px;
    border: 1px solid lightgrey;
    margin:;
}

.get-coins button {
    padding: 15px 20px;
    border: none;
    color: white;
    margin-top: 10px;
    background-color: #4CAF50;
    border-radius: 7px;
}

#inputspan {
    width: 80%;
}

span {
    vertical-align: top;
}

   /* span:first-child {
        width: 10%;
        border-radius: 50px;
        margin-top: 7px;
    }

    span:last-child {
        width: 10%;
        border-radius: 50px;
        margin-top: 7px;
    }*/

input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0px;
}

section {
    display: flex;
    margin-top: 2%;
    width: 23%;
    justify-content: space-around;
    margin-bottom: 2%;
}

    section button {
        padding: 10px 12px;
        background-color: lightgrey;
        color: black;
    }

ul {
    display: flex;
    width: 30%;
    padding-left: 0px;
    list-style: none;
    justify-content: space-around;
    margin: 6px;
}

#Bottomdiv {
    display: flex;
    font-size: 12px;
    margin-top: 3%;
}

    #Bottomdiv span {
        
        margin-left: 31%;
    }
/*When hovered*/
a:hover {
    text-decoration: underline;
}

button:hover {
    border: 1px solid gray;
}

input [type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
}

.input-box {
    width: 100%;
    border: 5px solid black;
    margin: 4px 8px;
    border-radius: 10px;
}

.input-box input[type=text] {
    /*background-color: #eee;*/
    padding: 4px 7px;
    text-decoration: none;
    cursor: pointer;
   
}